<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Seating</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<header th:replace="~{nav :: navbar}"></header>
<div class="container mt-5">
    <h2>Edit Seating</h2>
    <form method="post" th:action="@{/seating/edit/{id}(id=${seating.id})}" th:object="${seating}">
        <div class="form-group">
            <label for="startDateAndTime">Start Date and Time:</label>
            <input type="datetime-local" class="form-control" id="startDateAndTime" th:field="*{startDateAndTime}" required>
        </div>
        <button type="submit" class="btn btn-primary">Edit Seating</button>
    </form>
</div>
<footer th:replace="~{footer :: footer}"></footer>
</body>
</html>