<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="footer bg-light text-center py-3 mt-auto">
    Developed with <span class="heart-icon">&hearts;</span> by Team Hotel | Manuel Echeandia - Adrian De Los Rios
</footer>
</body>
</html>